<!doctype html>
<html>
  <head>
  </head>
  <body>
    <h1> Welcome to the Favorite Collector </h1>
    <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQyNj7PdvzFzLZ5EzMJ0IqO05mCH7ETEP6qO-YfjskFvSIJ2tmq">
    
    
    <form action="/" method="POST">
      <label for="food"> Favorite food: </label>
      <input type="text" name="food" id="food">
      <br>
      <label for="drink"> Favorite drink: </label>
      <input type="text" name="drink" id="drink">
      <br>
      <label for="country"> Favorite country: </label>
      <input type="text" name="country" id="country">
      <br>
      <label for="animal"> Favorite animal: </label>
      <input type="text" name="animal" id="animal">
      <br>
      <label for="song"> Favorite song: </label>
      <input type="text" name="song" id="song">
      <br>
      <label for="book"> Favorite book: </label>
      <input type="text" name="book" id="book">
      <br>
      <input type="submit">
    </form>
    
    
    
  </body>
</html>